<!DOCTYPE html>
<html>
<head>
  <title>JDDevwebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <nav class="navigation">
        <div class="nav-left">
          <a href=""><img src=""><button>LOGO HERE</button></a>  <!-- Logo Pic -->
        </div>                <!-- End of nav left -->
        <div class="nav-right">
          <div class="nav-item">
            <img src="">      <!--Phone icon-->
            <p>0404000444</p>
            <ul class="nav-list">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>        
        </div>              <!-- End of nav-right -->
      </nav>                  <!-- End of navigation-->
    
    
    <%= yield %>
  </div>

</body>
</html>
